#define ZMK_POINTING_DEFAULT_SCRL_VAL 200

#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

&mt {
    tapping-term-ms = <300>;
    flavor = "balanced";
};

&lt { quick-tap-ms = <300>; };

&central_listener {
    input-processors = <&zip_temp_layer 4 2000>;
    scroller {
        layers = <5>;
        input-processors = <&zip_xy_to_scroll_mapper &zip_scroll_scaler 1 3>;
    };
};

/ {
    macros {
        emoji: emoji_macro {
            compatible = "zmk,behavior-macro";
            label = "EMOJI";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp CAPSLOCK>,
                <&macro_tap>,
                <&kp E>,
                <&macro_release>,
                <&kp CAPSLOCK>;
        };
    };

    behaviors {
        encoder_msc: sensor_rotate_msc {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;
            tap-ms = <20>;
        };

        encoder_kp: sensor_rotate_kp {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <0 1>;
        };

        desktop_left {
            bindings = <&kp LC(LEFT)>;
            key-positions = <16 15>;
        };

        desktop_right {
            bindings = <&kp LC(RIGHT)>;
            key-positions = <18 19>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };

        shift_tabj {
            bindings = <&kp LS(TAB)>;
            key-positions = <12 13>;
        };

        coron {
            bindings = <&kp COLON>;
            key-positions = <20 21>;
        };

        comma {
            bindings = <&kp COMMA>;
            key-positions = <30 31>;
        };

        PT_p {
            bindings = <&kp P>;
            key-positions = <4 14>;
        };

        PT_semicoron {
            bindings = <&kp SEMICOLON>;
            key-positions = <14 24>;
        };

        scroll {
            bindings = <&lt 5 LANG9>;
            key-positions = <17 18>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default Layer";
            bindings = <
&kp Q           &kp W         &kp E        &kp R  &kp T                                      &kp Y        &kp U       &kp I          &kp O      &kp P
&kp A           &kp S         &kp D        &kp F  &kp G                                      &kp H        &kp J       &kp K          &kp L      &mt RIGHT_COMMAND MINUS
&kp LEFT_SHIFT  &kp Z         &kp C        &kp V  &kp B                                      &kp N        &kp M       &kp COMMA      &kp DOT    &kp RIGHT_ALT
&kp X           &kp LEFT_ALT  &lt 6 LANG2  &kp A  &lt 2 SPACE  &lt 3 LANG1    &kp BACKSPACE  &lt 1 ENTER  &kp DELETE  &kp SEMICOLON  &kp COLON  &kp RIGHT_CONTROL
            >;
        };

        FUNCTION {
            display-name = "Mouse Layer";
            bindings = <
&trans  &trans  &trans  &trans               &trans                    &kp F1    &kp F2        &kp F3        &kp F4      &kp F5
&trans  &trans  &trans  &trans               &trans                    &kp F6    &kp F7        &kp F8        &kp F9      &kp F10
&trans  &trans  &trans  &trans               &trans                    &kp K_PP  &kp C_VOL_UP  &kp C_VOL_DN  &kp K_MUTE  &kp F11
&trans  &trans  &trans  &kp INTERNATIONAL_1  &trans  &trans    &trans  &trans    &trans        &trans        &trans      &kp F12
            >;
        };

        NUM {
            display-name = "Number Layer";
            bindings = <
&kp MINUS       &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp RS(KP_NUMBER_9)  &kp PLUS                                       &kp AT_SIGN       &kp AMPERSAND      &kp HASH              &kp LEFT_BRACE         &kp RIGHT_BRACE
&kp SLASH       &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6      &kp ASTERISK                                   &kp TILDE         &kp QUESTION       &kp EXCLAMATION       &kp DOLLAR             &kp RGUI
&kp LEFT_SHIFT  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3      &kp UNDERSCORE                                 &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp RALT
&trans          &kp PIPE         &kp KP_NUMBER_0  &trans               &trans          &trans    &kp INTERNATIONAL_3  &kp PERCENT       &kp DOUBLE_QUOTES  &kp SQT               &kp PERIOD             &kp LEFT_CONTROL
            >;
        };

        ARROW {
            display-name = "Mark Layer";
            bindings = <
&kp ESCAPE      &kp LC(LS(TAB))   &kp UP_ARROW        &kp LC(TAB)        &trans                     &trans            &trans    &kp UP_ARROW    &trans     &trans
&kp HOME        &kp LEFT          &kp DOWN            &kp RIGHT          &kp END                    &kp LG(UP_ARROW)  &kp LEFT  &kp DOWN_ARROW  &kp RIGHT  &kp RIGHT_COMMAND
&kp LEFT_SHIFT  &kp LG(LS(LEFT))  &kp LG(UP_ARROW)    &kp LG(LS(RIGHT))  &trans                     &kp LG(DOWN)      &trans    &trans          &trans     &kp RIGHT_ALT
&trans          &trans            &kp LG(DOWN_ARROW)  &trans             &trans   &trans    &trans  &trans            &trans    &trans          &trans     &kp LEFT_CONTROL
            >;
        };

        MOUSE {
            display-name = "Device Layer";
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans    &trans  &trans    &trans
&trans  &trans  &trans  &trans  &trans                    &trans  &mkp MB1  &trans  &mkp MB2  &trans
&trans  &trans  &trans  &trans  &trans                    &trans  &trans    &trans  &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans    &trans  &trans    &trans
            >;
        };

        SCROLL {
            display-name = "Brank Layer";
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                    &trans  &none   &trans  &none   &trans
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

       layer_6 {
    display-name = "System Layer";
    bindings = <
&trans                 &kp LA(LG(KP_NUMBER_7))    &kp LA(LC(BACKSPACE))  &kp LG(LA(KP_NUMBER_9))  &kp LG(LS(NUMBER_4))                          &bt BT_SEL 0       &bt BT_SEL 1           &bt BT_SEL 2              &bt BT_SEL 3               &bt BT_SEL 4
&kp LC(BACKSPACE)      &kp LA(LG(BACKSPACE))      &kp LA(LG(SPACE))      &kp LG(LA(ENTER))        &kp LC(ENTER)                                 &kp LC(BACKSLASH)  &kp BACKSPACE          &kp LA(LS(NUMBER_3))      &kp B                      &trans
&kp LG(LC(LA(Q)))      &kp LA(LG(KP_NUMBER_1))    &kp LC(LA(ENTER))      &kp KP_NUMBER_3          &kp LC(LA(LG(A)))                             &kp LG(LC(LEFT))   &kp LG(LC(RIGHT))      &kp LA(LG(LEFT_BRACKET))  &kp LA(LG(RIGHT_BRACKET))  &bt BT_CLR
&kp LC(RIGHT_BRACKET)  &kp LG(LC(RIGHT_BRACKET))  &kp LG(LA(PERIOD))     &trans                   &trans                &trans    &kp KP_ENTER  &kp KP_NUMBER_3    &kp LG(LC(BACKSLASH))  &kp LC(BACKSLASH)         &trans                     &bt BT_CLR_ALL
            >;
        };

        layer_7 {
            display-name = "Brank Layer";
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
