&spi0 {
    status = "okay";
    trackball_central: trackball@1 {
        status = "okay";
        compatible = "pixart,paw3222";
        reg = <0>;
        spi-max-frequency = <2000000>;
        irq-gpios = <&xiao_d 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    };
};

&peripheral_listener {
    status = "okay";
};

&central_listener {
    status = "okay";
    device = <&trackball_central>;
    
    input-processors = 
        <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>,
        <&zip_xy_scaler 2 3>,
        <&zip_temp_layer 4 500>;  // 1000ms → 500ms に変更
    
    scroller {
        layers = <5>;
        input-processors = 
            <&zip_xy_to_scroll_mapper>,
            <&zip_xy_transform INPUT_TRANSFORM_X_INVERT>,  // 左右反転を追加
            <&zip_scroll_scaler 1 6>;
    };
};
